.main-container {
  p {
    font-weight: 300;
    font-size: 20px;
    line-height: 32px;
  }

  h2 {
    font-size: 48px;
  }

  .text-left {
    text-align: left;
  }

  .title-container {
    text-align: center;
    color: white;
    background-size: cover;
    background-position: center;
    background-image: linear-gradient(rgba(7, 7, 7, 0.2), rgba(0, 1, 2, 0.3)), url("../../images/heats-bg.jpg");
    margin-top: -82px;
    padding: calc(8em + 82px) 7em 10em;

    .btn-container {
      width: 100%;
      margin: 4em auto 0;
    }

    span {
      text-transform: uppercase;
      font-size: 30px;
    }

    p {
      max-width: 900px;
      font-size: 28px;
      margin: 0 auto;
    }

    h1 {
      font-size: 55px;
      max-width: 900px;
      margin: 0.3em auto 1em;
    }
  }

  .section {
    padding: calc(1em + 82px) 7em 4em;
  }

  .applications {
    h2 {
      color: #6D6E71;
      text-align: center;
      margin-bottom: 0.8em;
    }
    .application-item {
      max-width: 920px;
      margin: 0 auto;
      display: flex;
      &.inverse {
        flex-direction: row-reverse;

        .application-info {
          text-align: right;
          align-items: flex-end;
        }
      }
    }

    img {
      margin-bottom: 0;
    }

    .application-info {
      max-width: 460px;
      background: #CC2746;
      padding: 2em;
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      justify-content: center;

      h3 {
        color: #FEC66A;
        font-size: 24px;
      }

      p {
        color: #fff;
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 0;
      }
    }
  }

  .contact {
    text-align: center;
    input {
      outline: 0;
      padding: 0.7em;
      width: 500px;
      margin-right: 0.5em;
      border-radius: 0.2em;
      border: 1px solid #BEBFC1;
    }

    .contact-form {
      margin-top: 2em;
    }
  }

  .product {
    padding-top: calc(1em + 80px);
    text-align: center;

    h2 {
      color: #6D6E71;
      font-size: 48px;
    }

    p {
      color: #939598;
      max-width: 900px;
      margin: 0 auto;
    }

    .inline-content {
      display: flex;
      align-items: flex-end;
      justify-content: center;
      margin-top: 1.5em;
      color: #6D6E71;
      font-size: 24px;
      line-height: 32px;

      .product-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 1em;

        span {
          font-weight: 300;
        }
      }
    }
  }

  .about {
    text-align: center;
    background-color: #ECECEC;

    p {
      max-width: 1200px;
      text-align: center;
    }

    img {
      width: 50%;
      height: auto;
    }
  }
}
